body {
    font-family: "Manrope", sans-serif;;
}
.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 125px;
}
/* HEADER */
header {
    margin-top: 26px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 30px;
    line-height: 1;
    color: #000;
}
.header__nav-list {
    display: flex;
    gap: 60px;
}
.header__nav-link {
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #000;
}
/* MAIN */
main {
    margin-top: 60px;
}
.hero__title {
    margin-bottom: 30px;
    max-width: 956px;
    font-size: 60px;
    line-height: 1;
}
.hero__image-block {
    position: relative;
    width: 100%;
    min-height: 500px;
    background-image: url('../resources/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero__text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 430px;
    font-size: 20px;
    line-height: 1;
    color: #fff;
}
.about {
    margin-top: 150px;
}
.about__subtitle {
    font-size: 18px;
    line-height: 1;
}
.about__text {
    margin-top: 30px;
    max-width: 1050px;
    font-size: 45px;
    line-height: 1;
}
.about__btn {
    display: inline-block;
    margin-top: 30px;   
    padding: 20px 40px;
    background-color: #ff0000; 
    border-radius: 0;   
    font-size: 20px;
    line-height: 1.2;           
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}
.about__btn:hover {
    background-color: #cc0000;
}